{%- render 'section-spacing-collapsing' -%}

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
CSS
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}<style>
  #shopify-section-{{ section.id }}{
    --media-with-text-gap: {% if section.settings.spacing == 'none' %}
      0{% else %}
      var(--grid-gutter){% endif %};
    --media-with-text-item-grid-template: "media" "content" / auto;
  }

  #media-with-text-wrapper-{{ section.id }}{
    padding-block: 0;
  }

  {%- assign media_ratio = section.settings.media_width | divided_by: 50.0 -%}
  {%- assign content_ratio = 2.0 | minus: media_ratio -%}

  @media screen and (min-width: 1000px) {
    #section-mwb-{{ section.id }}{
      --media-with-text-item-grid-template: {% if section.settings.media_position == 'start' %}
        "media content" / minmax(0, {{ media_ratio }}fr) minmax(0, {{ content_ratio }}fr){% else %}
        "content media" / minmax(0, {{ content_ratio }}fr) minmax(0, {{ media_ratio }}fr){% endif %};
    }
  }

  @media screen and (max-width: 600px) {
    #section-mwb-{{ section.id }}{
      padding-right: {% if section.settings.padding_lr_m == "0" %}0px {% elsif section.settings.padding_lr_m == "20" %}var(--spacing-2) {% elsif section.settings.padding_lr_m == "40" %}var(--spacing-4) {% elsif section.settings.padding_lr_m == "60" %}var(--spacing-6) {% else %}var(--spacing-8) {% endif %}!important;
      padding-left: {% if section.settings.padding_lr_m == "0" %}0px {% elsif section.settings.padding_lr_m == "20" %}var(--spacing-2) {% elsif section.settings.padding_lr_m == "40" %}var(--spacing-4) {% elsif section.settings.padding_lr_m == "60" %}var(--spacing-6) {% else %}var(--spacing-8) {% endif %}!important;
      gap: {% if section.settings.padding_between_m == "0" %}0px {% elsif section.settings.padding_between_m == "20" %}var(--spacing-2) {% elsif section.settings.padding_between_m == "40" %}var(--spacing-4) {% elsif section.settings.padding_between_m == "60" %}var(--spacing-6) {% else %}var(--spacing-8) {% endif %}!important;
    }
  }

  @media screen and (max-width: 600px) {
    #media-with-text-wrapper-{{ section.id }}{
      padding-bottom: {% if section.settings.padding_bottom_m == "0" %}0px {% elsif section.settings.padding_bottom_m == "20" %}var(--spacing-2) {% elsif section.settings.padding_bottom_m == "40" %}var(--spacing-4) {% elsif section.settings.padding_bottom_m == "60" %}var(--spacing-6) {% else %}var(--spacing-8) {% endif %}!important;
      padding-top: {% if section.settings.padding_top_m == "0" %}0px {% elsif section.settings.padding_top_m == "20" %}var(--spacing-2) {% elsif section.settings.padding_top_m == "40" %}var(--spacing-4) {% elsif section.settings.padding_top_m == "60" %}var(--spacing-6) {% else %}var(--spacing-8) {% endif %}!important;
    }
  }

  .grid-text-image {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
  }

  .grid-text-image-item {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-info__offer-list{
    margin-block-start: 0;
  }

  {% for block in section.blocks %}
    {% if block.type == "button" and block.settings.text != blank %}
      {% assign cls = "button-" | append: block.id %}
      {%- render 'button-styles', class: cls, 
          background_gradient: block.settings.background_gradient,
          background: block.settings.background,
          text_color: block.settings.text_color,
          border_color: block.settings.border_color,
          border_width: block.settings.border_width,
          border_radius: block.settings.border_radius,
          background_hovered: block.settings.background_hovered,
          text_color_hovered: block.settings.text_color_hovered, 
          background_gradient_hovered: block.settings.background_gradient_hovered -%}
    {% endif %}

    {% if block.type == "richtext" and block.settings.content != blank %}
        {% assign richtextId = "richtext-" | append: block.id %}
        {%- render 'paragraph-styles', id: richtextId,
          font_size_in_px: block.settings.font_size_in_px,
          italic_font: block.settings.italic_font,
          text_color: block.settings.text_color,
          max_width: block.settings.max_width,
          checkbox_underline: block.settings.checkbox_underline,
          underline_color: block.settings.underline_color,
          text_gradient: block.settings.text_gradient, -%}
      {% endif %}

      {% if block.type == "richtext2" and block.settings.content2 != blank %}
        {% assign richtextId2 = "richtext2-" | append: block.id %}
        {%- render 'paragraph-styles', id: richtextId2, 
          font_size_in_px: block.settings.font_size_in_px2,
          italic_font: block.settings.italic_font2,
          text_color: block.settings.text_color2,
          max_width: block.settings.max_width2,
          checkbox_underline: block.settings.checkbox_underline2,
          underline_color: block.settings.underline_color2,
          text_gradient: block.settings.text_gradient2, -%}
      {% endif %}

      {% if block.type == "richtext3" and block.settings.content3 != blank %}
        {% assign richtextId3 = "richtext3-" | append: block.id %}
        {%- render 'paragraph-styles', id: richtextId3, 
          font_size_in_px: block.settings.font_size_in_px3,
          italic_font: block.settings.italic_font3,
          text_color: block.settings.text_color3,
          max_width: block.settings.max_width3,
          checkbox_underline: block.settings.checkbox_underline3,
          underline_color: block.settings.underline_color3,
          text_gradient: block.settings.text_gradient3, -%}
      {% endif %}

    {% assign block_styles = "block_styles" | append: block.id %}
    {%- render 'block-styles', class: block_styles, 
          border_width: section.settings.border_width,
          border_color: section.settings.border_color,
          block_background: section.settings.block_background,
          block_background_gradient: section.settings.block_background_gradient,
          border_radius: section.settings.border_radius,
          border_padding: section.settings.content_width -%}

    {% assign block_styles_2 = "block_styles_2" | append: block.id %}
    {%- render 'block-styles', class: block_styles_2, 
          border_width: section.settings.border_width_2,
          border_color: section.settings.border_color_2,
          block_background: section.settings.block_background_2,
          block_background_gradient: section.settings.block_background_gradient_2,
          border_radius: section.settings.border_radius_2,
          border_padding: section.settings.content_width_2 -%}

          {% assign block_class = block.type | append: "-" | append: block.id %}
          

          {{ block.settings.font_family | font_face: font_display: 'fallback' }}
          .{{ block_class }} {
            {%- if block.settings.font_family != blank -%}
              font-family: {{ block.settings.font_family.family }}, {{ block.settings.font_family.fallback_families }};
               --heading-font-family: {{ block.settings.font_family.family }}, {{ block.settings.font_family.fallback_families }};
            {% endif %}
          }

          {{ block.settings.font_family_italic | font_face: font_display: 'fallback' }}  
          .{{ block_class }} i, .{{ block_class }} em {
            {%- if block.settings.font_family_italic != blank -%}
              font-family: {{ block.settings.font_family_italic.family }}, {{ block.settings.font_family_italic.fallback_families }};
            {% endif %}
    }

        .offer2 {
            padding: 0px;
            gap: var(--spacing-2);
            border-radius: var(--rounded-sm);
            margin-block-start: var(--spacing-4);
            display: grid;
        }
    

  {% endfor %}
  
</style>

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
<div
  id="media-with-text-wrapper-{{ section.id }}"
  style="--calculated-section-spacing-inline: 0px; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px; background: {%- if section.settings.background_gradient_section != blank -%} {{ section.settings.background_gradient_section }} {%- else -%} {{ section.settings.background_section }} {%- endif -%}"
  {% render 'section-properties', full_width: "true" %}>
  <media-with-text style="padding-inline-start: 0px; padding-inline-end: 0px;" class="media-with-text full-bleed">

    <div id="section-mwb-{{ section.id }}" class="media-with-text__item" {{ section.shopify_attributes }} style="padding-left: {{ section.settings.padding_lr }}px; padding-right: {{ section.settings.padding_lr }}px; gap: {{ section.settings.padding_between }}px;">
      <div class="media-with-text__media {{ block_styles }}" reveal-on-scroll="true">
        {%- if section.settings.mediaType == "image" -%}
          {%- if section.settings.image != blank -%}
            {%- assign width_ratio = 100.0 | divided_by: section.settings.media_width -%}
            {%- assign maximum_image_width = settings.page_width | divided_by: width_ratio -%}
            {%- capture sizes -%}(max-width: 999px) 100vw, min({{ maximum_image_width | ceil }}px, {{ section.settings.media_width }}vw){% endcapture %}
            {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' -}}
          {%- else -%}
            {{- 'image' | placeholder_svg_tag: 'aspect-short placeholder' -}}
          {%- endif -%}
        {%- else -%}
          {%- capture poster -%}
            {%- assign poster_image = section.settings.poster_image | default: section.settings.video.preview_image -%}

            {%- if poster_image -%}
              {{- poster_image | image_url: width: poster_image.width | image_tag: loading: 'lazy', sizes: '(max-width: 699px) 400px, 800px', widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'rounded' -}}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'rounded' }}
            {%- endif -%}
          {%- endcapture -%}
        {%- endif -%}

        {%- if section.settings.mediaType == "video" -%}
          {%- if section.settings.video -%}
            <video-media {% if section.settings.autoplay %}autoplay{% else %}show-play-button{% endif %}>
              {%- unless section.settings.autoplay -%}
                {{- poster -}}
              {%- endunless -%}

              {%- if section.settings.autoplay -%}
                {{- section.settings.video | video_tag: playslinline: true, muted: true, loop: true, preload: 'metadata' -}}
              {%- else -%}
                {{- section.settings.video | video_tag: playslinline: true, controls: true, muted: false, loop: false, preload: 'metadata' -}}
              {%- endif -%}
            </video-media>
          {%- else -%}
            <video-media host="{{ section.settings.external_video_url.type }}" {% if section.settings.autoplay %}autoplay{% else %}show-play-button{% endif %}>
              {%- unless section.settings.autoplay -%}
                {{- poster -}}
              {%- endunless -%}

              <template>
                {%- if section.settings.external_video_url.type == 'youtube' -%}
                  <iframe
                    src="https://www.youtube.com/embed/{{ section.settings.external_video_url.id }}?playsinline=1&autoplay=1&controls=0&mute={% if section.settings.autoplay %}1{% else %}0{% endif %}&loop=1&playlist={{ section.settings.external_video_url.id }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}"
                    allow="autoplay; encrypted-media"
                    allowfullscreen="allowfullscreen"></iframe>
                {%- elsif section.settings.external_video_url.type == 'vimeo' -%}
                  <iframe
                    src="https://player.vimeo.com/video/{{ section.settings.external_video_url.id }}?autoplay=1&autopause=1&background=1&loop=1&muted={% if section.settings.autoplay %}1{% else %}0{% endif %}&transparent=0&responsive=1&portrait=0&title=0&byline=0&color={{ settings.text_color | remove_first: '#' }}"
                    allow="autoplay; encrypted-media;"
                    allowfullscreen="allowfullscreen"></iframe>
                {%- endif -%}
              </template>
            </video-media>
          {%- endif -%}
        {%- endif -%}
      </div>


      {%- capture content_class -%}media-with-text__content {{ block_styles_2 }}{%- endcapture -%}
      {% assign padding_text = section.settings.padding_text %}
      <div {% render 'surface', class: content_class, background: section.settings.background, background_gradient: section.settings.background_gradient %}>
        <div class="prose break-all {{ section.settings.text_position }}" reveal-on-scroll="true">
          {%- for block in section.blocks -%}

            {%- assign previous_block_index = forloop.index0 | minus: 1 -%}
            {%- assign previous_block = section.blocks[previous_block_index] -%}
            {%- assign next_block = section.blocks[forloop.index] -%}

            {%- case block.type -%}
              {%- when 'button' -%}
              {%- if block.settings.text != blank -%}
                {% assign cls = "button-" | append: block.id %}
                {% render 'button', class: cls, content: block.settings.text, href: block.settings.url, size: block.settings.size, block: block %}
              {%- endif -%}

              {%- when 'richtext2' -%}
            {%- if block.settings.content2 != blank -%}
              {% assign richtextId2 = "richtext2-" | append: block.id %}
              <div id="{{ richtextId2 }}" class="{{ block.type }}-{{ block.id }}" style="padding-bottom: {{ padding_text }}px;" {{ block.shopify_attributes }}>
                {{- block.settings.content2 -}}
              </div>  
            {%- endif -%}

            {%- when 'richtext3' -%}
            {%- if block.settings.content3 != blank -%}
              {% assign richtextId3 = "richtext3-" | append: block.id %}
              <div id="{{ richtextId3 }}" class="{{ block.type }}-{{ block.id }}" style="padding-bottom: {{ padding_text }}px;" {{ block.shopify_attributes }}>
                {{- block.settings.content3 -}}
              </div>  
            {%- endif -%}

              {%- when 'richtext' -%}
            {%- if block.settings.content != blank -%}
              {% assign richtextId = "richtext-" | append: block.id %}
              <div id="{{ richtextId }}" class="{{ block.type }}-{{ block.id }}" style="padding-bottom: {{ padding_text }}px;" {{ block.shopify_attributes }}>
                {{- block.settings.content -}}
              </div>
              
            {%- endif -%}

              {%- when 'divider' -%}
              <div style="display: block; height: {{ block.settings.height }}px; background-color: {{ block.settings.color }}"></div>

              {% comment %} {% assign back_or_not = "offer2" %}
              {% if block.settings.background != blank %} {% assign back_or_not = "offer" %} {% endif %} {% endcomment %}
              {%- when 'offer' -%}
                {%- if previous_block.type != 'offer' and next_block.type == 'offer' -%}
                  <div {% if section.settings.text_icon_stack == "aligned" %} class="product-info__offer-list"{% endif %}>
                {%- endif -%}

                {%- if block.settings.title != blank or block.settings.content != blank -%}
                  {%- render 'offer', block: block -%}
                {%- endif -%}

                {%- if forloop.last or previous_block.type == 'offer' and next_block.type != 'offer' -%}
                  </div>
              {%- endif -%}
            
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>

  </media-with-text>
</div>

{% schema %}
  {
    "name": "Media with blocks",
    "class": "shopify-section--media-with-text",
    "tag": "section",
    "max_blocks": 10,
    "disabled_on": {
      "templates": ["password"],
      "groups": ["header", "custom.overlay"]
    },
    "settings": [
      {
        "type": "select",
        "id": "mediaType",
        "label": "Media type",
        "options": [
          {
            "value": "image",
            "label": "Image"
          }, {
            "value": "video",
            "label": "Video"
          }
        ],
        "default": "image"
      },
      {
        "type": "color",
        "id": "background_section",
        "label": "Background section"
      },
      {
        "type": "color_background",
        "id": "background_gradient_section",
        "label": "Background gradient section"
      },
      {
        "type": "range",
        "id": "media_width",
        "label": "Media width",
        "min": 30,
        "max": 70,
        "step": 5,
        "unit": "%",
        "default": 50
      },
      {
        "type": "select",
        "id": "media_position",
        "label": "Media position",
        "options": [
          {
            "value": "start",
            "label": "Left"
          }, {
            "value": "end",
            "label": "Right"
          }
        ],
        "default": "start"
      }, {
        "type": "select",
        "id": "text_position",
        "label": "Content position",
        "options": [
          {
            "value": "place-self-start text-start",
            "label": "Top left"
          },
          {
            "value": "place-self-start-center text-center",
            "label": "Top center"
          },
          {
            "value": "place-self-start-end text-end",
            "label": "Top right"
          },
          {
            "value": "place-self-center-start text-start",
            "label": "Middle left"
          }, {
            "value": "place-self-center text-center",
            "label": "Middle center"
          }, {
            "value": "place-self-center-end text-end",
            "label": "Middle right"
          }, {
            "value": "place-self-end-start text-start",
            "label": "Bottom left"
          }, {
            "value": "place-self-end-center text-center",
            "label": "Bottom center"
          }, {
            "value": "place-self-end text-end",
            "label": "Bottom right"
          }
        ],
        "default": "place-self-center text-center"
      },
      {
        "type": "header",
        "content": "Padding desktop",
        "info": "Choose padding for normal screen"
      },
      {
        "type": "select",
        "id": "padding_between",
        "label": "Padding between",
        "options": [
          {
            "value": "0",
            "label": "None"
          }, {
            "value": "20",
            "label": "S"
          },
           {
            "value": "40",
            "label": "M"
          },
           {
            "value": "60",
            "label": "L"
          },
           {
            "value": "80",
            "label": "XL"
          }
        ],
        "default": "0"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "0",
            "label": "None"
          }, {
            "value": "20",
            "label": "S"
          },
           {
            "value": "40",
            "label": "M"
          },
           {
            "value": "60",
            "label": "L"
          },
           {
            "value": "80",
            "label": "XL"
          }
        ],
        "default": "0"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "0",
            "label": "None"
          }, {
            "value": "20",
            "label": "S"
          },
           {
            "value": "40",
            "label": "M"
          },
           {
            "value": "60",
            "label": "L"
          },
           {
            "value": "80",
            "label": "XL"
          }
        ],
        "default": "0"
      },
      {
        "type": "select",
        "id": "padding_lr",
        "label": "Padding left / right",
        "options": [
          {
            "value": "0",
            "label": "None"
          }, {
            "value": "20",
            "label": "S"
          },
           {
            "value": "40",
            "label": "M"
          },
           {
            "value": "60",
            "label": "L"
          },
           {
            "value": "80",
            "label": "XL"
          }
        ],
        "default": "0"
      },
      {
        "type": "header",
        "content": "Padding mobile",
        "info": "Choose padding for small screen"
      },
      {
        "type": "select",
        "id": "padding_between_m",
        "label": "Padding between",
        "options": [
          {
            "value": "0",
            "label": "None"
          }, {
            "value": "20",
            "label": "S"
          },
           {
            "value": "40",
            "label": "M"
          },
           {
            "value": "60",
            "label": "L"
          },
           {
            "value": "80",
            "label": "XL"
          }
        ],
        "default": "0"
      },
      {
        "type": "select",
        "id": "padding_top_m",
        "label": "Padding top",
        "options": [
          {
            "value": "0",
            "label": "None"
          }, {
            "value": "20",
            "label": "S"
          },
           {
            "value": "40",
            "label": "M"
          },
           {
            "value": "60",
            "label": "L"
          },
           {
            "value": "80",
            "label": "XL"
          }
        ],
        "default": "0"
      },
      {
        "type": "select",
        "id": "padding_bottom_m",
        "label": "Padding bottom",
        "options": [
          {
            "value": "0",
            "label": "None"
          }, {
            "value": "20",
            "label": "S"
          },
           {
            "value": "40",
            "label": "M"
          },
           {
            "value": "60",
            "label": "L"
          },
           {
            "value": "80",
            "label": "XL"
          }
        ],
        "default": "0"
      },
      {
        "type": "select",
        "id": "padding_lr_m",
        "label": "Padding left / right",
        "options": [
          {
            "value": "0",
            "label": "None"
          }, {
            "value": "20",
            "label": "S"
          },
           {
            "value": "40",
            "label": "M"
          },
           {
            "value": "60",
            "label": "L"
          },
           {
            "value": "80",
            "label": "XL"
          }
        ],
        "default": "0"
      }, {
        "type": "header",
        "content": "Block content",
        "info": "Gradient replaces solid colors when set."
      }, {
        "type": "color",
        "id": "block_background_2",
        "label": "Background",
        "default": "#808080"
      }, {
        "type": "color_background",
        "id": "block_background_gradient_2",
        "label": "Background gradient"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#ffffff"
      }, {
        "type": "range",
        "id": "border_width_2",
        "label": "Border width",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      }, {
        "type": "range",
        "id": "border_radius_2",
        "label": "Border radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "default": 0
      }, {
        "type": "color",
        "id": "border_color_2",
        "label": "Border color"
      },
      {
            "type": "select",
            "id": "text_icon_stack",
            "label": "Text with icon position",
            "options": [
              {
                "value": "aligned",
                "label": "Aligned horizontally"
              }, {
                "value": "stacked",
                "label": "Stacked"
              }
            ],
            "default": "aligned"
          },
      {
        "type": "header",
        "content": "Block media",
        "info": "Gradient replaces solid colors when set."
      }, {
        "type": "color",
        "id": "block_background",
        "label": "Background"
      }, {
        "type": "color_background",
        "id": "block_background_gradient",
        "label": "Background gradient"
      }, {
        "type": "range",
        "id": "border_width",
        "label": "Border width",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      }, {
        "type": "range",
        "id": "border_radius",
        "label": "Border radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "default": 0
      }, {
        "type": "color",
        "id": "border_color",
        "label": "Border color"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1500 x 1500px .jpg recommended"
      }, {
        "type": "video",
        "id": "video",
        "label": "Video",
        "info": "Replaces external video if both are set. For best visual results and avoid platform branding, we recommend uploading a MP4 file."
      }, {
        "type": "video_url",
        "id": "external_video_url",
        "accept": [
          "vimeo", "youtube"
        ],
        "label": "Video URL",
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      }, {
        "type": "image_picker",
        "id": "poster_image",
        "label": "Poster image",
        "info": "Only used when autoplay is disabled."
      }, {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "info": "Video are muted to allow autoplay.",
        "default": true
      },
      {
        "type": "range",
        "id": "padding_text",
        "label": "Padding",
        "default": 2,
        "min": 0,
        "max": 20,
        "step": 2,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "id": "border_radius",
            "label": "Border radius",
            "type": "range",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 50,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "background",
            "label": "Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "background_hovered",
            "label": "Bg hovered",
            "default": "#00FDA0"
          },
          {
            "type": "color_background",
            "id": "background_gradient",
            "label": "Background gradient"
          }, {
            "type": "color_background",
            "id": "background_gradient_hovered",
            "label": "Bg gradient hovered"
          }, {
            "type": "color",
            "id": "border_color",
            "label": "Border color",
            "default": "#000000"
          }, {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000000"
          }, {
            "type": "color",
            "id": "text_color_hovered",
            "label": "Text color (hover)",
            "default": "#000000"
          }, {
            "id": "border_width",
            "label": "Border width",
            "type": "range",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0,
            "unit": "px"
          }, {
            "type": "select",
            "id": "size",
            "label": "Size",
            "options": [
              {
                "value": "sm",
                "label": "Small"
              }, {
                "value": "base",
                "label": "Medium"
              }, {
                "value": "lg",
                "label": "Large"
              }, {
                "value": "xl",
                "label": "X-Large"
              }
            ],
            "default": "xl"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Button text"
          }, {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      },
      {
        "type": "richtext2",
        "name": "Subheading",
        "settings": [
          {
            "type": "richtext",
            "id": "content2",
            "label": "Content",
            "default": "<h6>Subheading</h6>"
          },
          {
            "type": "color",
            "id": "text_color2",
            "label": "Text"
          },
          {
            "type": "color_background",
            "id": "text_gradient2",
            "label": "Text gradient"
          },
          {
            "type": "checkbox",
            "id": "checkbox_underline2",
            "label": "Underline",
            "default": false
          }, {
            "type": "color",
            "id": "underline_color2",
            "label": "Underline color"
          }, {
            "type": "range",
            "id": "font_size_in_px2",
            "info": "-  Please set font size for a paragraph  -  (not a heading)",
            "label": "Font size X ...",
            "min": 11,
            "max": 50,
            "step": 1,
            "default": 16
          }, {
            "type": "header",
            "info": "Selecting different fonts can affect the speed of your online store. Learn more about [system fonts.](https://help.shopify.com/en/manual/online-store/os/store-speed/improving-speed#fonts)",
            "content": "Fonts"
          }, {
            "type": "font_picker",
            "id": "font_family",
            "label": "Choose a Font",
            "default": "helvetica_n4"
          },
          {
            "type": "header",
            "info": "Fonts for italic text",
            "content": "Fonts italic text"
          },
          {
            "type": "font_picker",
            "id": "font_family_italic",
            "label": "Choose a Font for italic texte",
            "default": "helvetica_n4"
          },
          {
            "type": "range",
            "id": "max_width2",
            "label": "Max width in percent",
            "min": 40,
            "max": 100,
            "step": 2,
            "default": 100
          }
        ]
      },
      {
        "type": "richtext3",
        "name": "Heading",
        "settings": [
          {
            "type": "richtext",
            "id": "content3",
            "label": "Content",
            "default": "<h1>Heading</h1>"
          },
          {
            "type": "color",
            "id": "text_color3",
            "label": "Text"
          },
          {
            "type": "color_background",
            "id": "text_gradient3",
            "label": "Text gradient"
          },
          {
            "type": "checkbox",
            "id": "checkbox_underline3",
            "label": "Underline",
            "default": false
          }, {
            "type": "color",
            "id": "underline_color3",
            "label": "Underline color"
          }, {
            "type": "range",
            "id": "font_size_in_px3",
            "info": "-  Please set font size for a paragraph  -  (not a heading)",
            "label": "Font size X ...",
            "min": 11,
            "max": 50,
            "step": 1,
            "default": 16
          }, {
            "type": "header",
            "info": "Selecting different fonts can affect the speed of your online store. Learn more about [system fonts.](https://help.shopify.com/en/manual/online-store/os/store-speed/improving-speed#fonts)",
            "content": "Fonts"
          }, {
            "type": "font_picker",
            "id": "font_family",
            "label": "Choose a Font",
            "default": "helvetica_n4"
          },
          {
            "type": "header",
            "info": "Fonts for italic text",
            "content": "Fonts italic text"
          },
          {
            "type": "font_picker",
            "id": "font_family_italic",
            "label": "Choose a Font for italic texte",
            "default": "helvetica_n4"
          },
          {
            "type": "range",
            "id": "max_width3",
            "label": "Max width in percent",
            "min": 40,
            "max": 100,
            "step": 2,
            "default": 100
          }
        ]
      },
      {
        "type": "richtext",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text"
          },
          {
            "type": "color_background",
            "id": "text_gradient",
            "label": "Text gradient"
          },
          {
            "type": "checkbox",
            "id": "checkbox_underline",
            "label": "Underline",
            "default": false
          }, {
            "type": "color",
            "id": "underline_color",
            "label": "Underline color"
          }, {
            "type": "range",
            "id": "font_size_in_px",
            "info": "-  Please set font size for a paragraph  -  (not a heading)",
            "label": "Font size X ...",
            "min": 11,
            "max": 50,
            "step": 1,
            "default": 16
          }, {
            "type": "header",
            "info": "Selecting different fonts can affect the speed of your online store. Learn more about [system fonts.](https://help.shopify.com/en/manual/online-store/os/store-speed/improving-speed#fonts)",
            "content": "Fonts"
          }, {
            "type": "font_picker",
            "id": "font_family",
            "label": "Choose a Font",
            "default": "helvetica_n4"
          },
          {
            "type": "header",
            "info": "Fonts for italic text",
            "content": "Fonts italic text"
          },
          {
            "type": "font_picker",
            "id": "font_family_italic",
            "label": "Choose a Font for italic texte",
            "default": "helvetica_n4"
          },
          {
            "type": "range",
            "id": "max_width",
            "label": "Max width in percent",
            "min": 40,
            "max": 100,
            "step": 2,
            "default": 100
          }
        ]
      },
      {
        "type": "divider",
        "name": "Divider",
        "settings": [
          {
            "id": "color",
            "type": "color",
            "label": "Color",
            "default": "#000000"
          }, {
            "id": "height",
            "label": "Height",
            "type": "range",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 1,
            "unit": "px"
          }
        ]
      },
      {
        "type": "offer",
        "name": "Icon with text",
        "settings": [
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "start",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "icon_position",
            "label": "Icon position",
            "options": [
              {
                "value": "aligned",
                "label": "Aligned horizontally"
              }, {
                "value": "stacked",
                "label": "Stacked"
              }
            ],
            "default": "stacked"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "picto-coupon",
                "label": "Coupon",
                "group": "Shop"
              },
              {
                "value": "picto-percent",
                "label": "Percent",
                "group": "Shop"
              },
              {
                "value": "picto-gift",
                "label": "Gift",
                "group": "Shop"
              }, {
                "value": "picto-star",
                "label": "Star",
                "group": "Shop"
              }, {
                "value": "picto-like",
                "label": "Like",
                "group": "Shop"
              }, {
                "value": "picto-building",
                "label": "Building",
                "group": "Shop"
              }, {
                "value": "picto-love",
                "label": "Love",
                "group": "Shop"
              }, {
                "value": "picto-award-gift",
                "label": "Award gift",
                "group": "Shop"
              }, {
                "value": "picto-happy",
                "label": "Happy",
                "group": "Shop"
              }, {
                "value": "picto-box",
                "label": "Box",
                "group": "Shipping"
              }, {
                "value": "picto-pin",
                "label": "Pin",
                "group": "Shipping"
              }, {
                "value": "picto-timer",
                "label": "Timer",
                "group": "Shipping"
              }, {
                "value": "picto-validation",
                "label": "Validation",
                "group": "Shipping"
              }, {
                "value": "picto-truck",
                "label": "Truck",
                "group": "Shipping"
              }, {
                "value": "picto-return",
                "label": "Return",
                "group": "Shipping"
              }, {
                "value": "picto-earth",
                "label": "Earth",
                "group": "Shipping"
              }, {
                "value": "picto-plane",
                "label": "Plane",
                "group": "Shipping"
              }, {
                "value": "picto-credit-card",
                "label": "Credit card",
                "group": "Payment & Security"
              }, {
                "value": "picto-lock",
                "label": "Lock",
                "group": "Payment & Security"
              }, {
                "value": "picto-shield",
                "label": "Shield",
                "group": "Payment & Security"
              }, {
                "value": "picto-secure-profile",
                "label": "Secure profile",
                "group": "Payment & Security"
              }, {
                "value": "picto-money",
                "label": "Money",
                "group": "Payment & Security"
              }, {
                "value": "picto-recycle",
                "label": "Recycle",
                "group": "Ecology"
              }, {
                "value": "picto-leaf",
                "label": "Leaf",
                "group": "Ecology"
              }, {
                "value": "picto-tree",
                "label": "Tree",
                "group": "Ecology"
              }, {
                "value": "picto-mobile-phone",
                "label": "Mobile phone",
                "group": "Communication"
              }, {
                "value": "picto-phone",
                "label": "Phone",
                "group": "Communication"
              }, {
                "value": "picto-chat",
                "label": "Chat",
                "group": "Communication"
              }, {
                "value": "picto-customer-support",
                "label": "Customer support",
                "group": "Communication"
              }, {
                "value": "picto-operator",
                "label": "Operator",
                "group": "Communication"
              }, {
                "value": "picto-mailbox",
                "label": "Mailbox",
                "group": "Communication"
              }, {
                "value": "picto-envelope",
                "label": "Envelope",
                "group": "Communication"
              }, {
                "value": "picto-comment",
                "label": "Comment",
                "group": "Communication"
              }, {
                "value": "picto-question",
                "label": "Question",
                "group": "Communication"
              }, {
                "value": "picto-send",
                "label": "Send",
                "group": "Communication"
              }, {
                "value": "picto-at-sign",
                "label": "At sign",
                "group": "Tech"
              }, {
                "value": "picto-camera",
                "label": "Camera",
                "group": "Tech"
              }, {
                "value": "picto-wifi",
                "label": "WiFi",
                "group": "Tech"
              }, {
                "value": "picto-bluetooth",
                "label": "Bluetooth",
                "group": "Tech"
              }, {
                "value": "picto-printer",
                "label": "Printer",
                "group": "Tech"
              }, {
                "value": "picto-smart-watch",
                "label": "Smart watch",
                "group": "Tech"
              }, {
                "value": "picto-coffee",
                "label": "Coffee",
                "group": "Food & Drink"
              }, {
                "value": "picto-burger",
                "label": "Burger",
                "group": "Food & Drink"
              }, {
                "value": "picto-beer",
                "label": "Beer",
                "group": "Food & Drink"
              }, {
                "value": "picto-target",
                "label": "Target",
                "group": "Other"
              }, {
                "value": "picto-document",
                "label": "Document",
                "group": "Other"
              }, {
                "value": "picto-jewelry",
                "label": "Jewelry",
                "group": "Other"
              }, {
                "value": "picto-music",
                "label": "Music",
                "group": "Other"
              }, {
                "value": "picto-file",
                "label": "File",
                "group": "Other"
              }, {
                "value": "picto-mask",
                "label": "Mask",
                "group": "Other"
              }, {
                "value": "picto-stop",
                "label": "Stop",
                "group": "Other"
              }
            ],
            "default": "picto-coupon"
          },
          {
            "type": "image_picker",
            "id": "custom_icon",
            "label": "Custom icon",
            "info": "240 x 240px .png recommended"
          }, {
            "type": "range",
            "id": "icon_width",
            "min": 20,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Icon width",
            "default": 24
          }, {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Icon with text"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Short content about your shipping rates or discounts.</p>"
          }, {
            "type": "color",
            "id": "background",
            "label": "Background"
          }, {
            "type": "color",
            "id": "text_color",
            "label": "Icon with text",
            "default": "#F0F0F0"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Media with blocks",
        "blocks": [
          {
            "type": "richtext"
          }, {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}