{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
     #shopify-section-{{ section.id }} .collection-list {
    --collection-list-grid: {% if section.settings.stack_collections %}none{% else %}auto / auto-flow 73vw{% endif %};
  }

  @media screen and (min-width: 699px) {
    #shopify-section-{{ section.id }} .collection-list {
      --collection-list-grid: {% if section.settings.stack_collections %}auto / repeat(2, minmax(0, 1fr)){% else %}auto / auto-flow 36vw{% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} .collection-list {
      --collection-list-grid: {% if section.settings.stack_collections %}auto / repeat({{ 3 | at_most: section.settings.collections_per_row }}, minmax(0, 1fr)){% else %}auto / auto-flow calc(var(--container-inner-width) / {{ section.settings.collections_per_row }} - (var(--grid-gutter) / 3 * 2)){% endif %};
    }
  }

  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }} .collection-list {
      --collection-list-grid: {% if section.settings.stack_collections %}auto / repeat({{ section.settings.collections_per_row }}, minmax(0, 1fr)){% else %}auto / auto-flow calc(var(--container-inner-width) / {{ section.settings.collections_per_row }} - (var(--grid-gutter) / {{ section.settings.collections_per_row }} * {{ section.settings.collections_per_row | minus: 1 }})){% endif %};
    }
  }

    {%- for block in section.blocks -%}

      {%- if section.settings.button_1_text != blank -%}
        {% assign cls1 = "button-1" %}
        {%- render 'button-styles', class: cls1, 
        background_gradient: section.settings.button_1_background_gradient,
        background: section.settings.button_1_background,
        text_color: section.settings.button_1_text_color,
        border_color: section.settings.button_1_border_color,
        border_width: section.settings.button_1_border_width,
        border_radius: section.settings.button_1_border_radius,
        background_hovered: section.settings.button_1_background_hovered,
        text_color_hovered: section.settings.button_1_text_color_hovered, 
        background_gradient_hovered: section.settings.button_1_background_gradient_hovered,
        border_color_hovered: section.settings.button_1_border_color_hovered, -%}
      {%- endif -%}

      {% assign block_styles = "block_styles" | append: block.id %}
        {%- render 'block-styles', class: block_styles, 
          border_width: block.settings.border_width,
          border_color: block.settings.border_color,
          block_background: block.settings.block_background,
          block_background_gradient: block.settings.block_background_gradient,
          border_radius: block.settings.border_radius,
          border_padding: block.settings.content_width,
          image_reverse: block.settings.image_reverse -%}

      {%- if block.type == 'item' -%}
        {%- if block.settings.image_covering_shape == 'octagon' -%}
          .image-{{ block.id }} {
            object-fit: cover;
            clip-path: polygon(
              30% 0%,
              70% 0%,
              100% 30%,
              100% 70%,
              70% 100%,
              30% 100%,
              0% 70%,
              0% 30%
            );
          }

          .image-container-{{ block.id }} {
            width: fit-content;
            height: fit-content;
            display: flex;
            place-items: center;
            {%- if block.settings.image_border_width != 0 -%}padding: {{ block.settings.image_border_width }}px; background: {{ block.settings.image_border_color }};{%- endif -%}
            clip-path: polygon(
              30% 0%,
              70% 0%,
              100% 30%,
              100% 70%,
              70% 100%,
              30% 100%,
              0% 70%,
              0% 30%
            );
          }
        {%- elsif block.settings.image_covering_shape == 'circle' -%}
          .image-{{ block.id }} {
            border-radius: 9999px;
            {%- if block.settings.image_border_width != 0 -%}border: {{ block.settings.image_border_width }}px {{ block.settings.image_border_color }} solid;{%- endif -%}
          }
        {%- elsif block.settings.image_covering_shape == 'diamond' -%}
        .image-{{ block.id }} {
          object-fit: cover;
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }

        .image-container-{{ block.id }} {
          width: fit-content;
          height: fit-content;
          display: flex;
          place-items: center;
          {%- if block.settings.image_border_width != 0 -%}padding: {{ block.settings.image_border_width }}px; background: {{ block.settings.image_border_color }};{%- endif -%}
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);;
        }
        {%- elsif block.settings.image_covering_shape == 'none' -%}
          .image-{{ block.id }} {
            {%- if block.settings.image_border_width != 0 -%}border: {{ block.settings.image_border_width }}px {{ block.settings.image_border_color }} solid; border-radius: {{ block.settings.background_image_radius }}px;{%- endif -%}
            border-radius: {{ block.settings.background_image_radius }}px;
          }
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

    .section-stack {
        gap: 26px;
      }

      .collection-list {
        {% if section.settings.align_center != blank %}
          align-items: {{ section.settings.align_center }};
          justify-content: center;
        {% endif %}
        gap: {% if section.settings.gap == 'small' %}var(--spacing-4){% elsif section.settings.gap == 'medium' %}var(--spacing-6){% elsif section.settings.gap == 'large' %}var(--spacing-10){% elsif section.settings.gap == 'x-large' %}var(--spacing-16){% else %}var(--spacing-20){% endif %};
      }
      .img {
          {% if section.settings.align_center != blank %}
            width: auto;
          {% endif %}
          
        }

       @media screen and (min-width: 700px) {
        img {
         {% if section.settings.align_center != blank %}
            width: auto;
          {% endif %}
        }
      }
    
    .contact-form {
        padding: var(--spacing-3);
      }

  </style>

  <div {% render 'section-properties' %}>
    <div class="section-stack">
      {%- render 'section-header', content: section.settings.content, text_alignment: section.settings.text_alignment -%}
       {%- if section.settings.button_1_text != blank -%}
        <div style="display: inline-block;" class="{% if section.settings.text_alignment != blank %}justify-{{ section.settings.text_alignment | escape }} justify-items-{{ section.settings.text_alignment | escape }} text-{{ section.settings.text_alignment | escape }}{% endif %}">
          {% assign cls1 = "button-1" | append: block.id %}
          {%- render 'button', href: section.settings.button_1_link, custom_icon: section.settings.custom_icon1, icon_reverse: section.settings.button_1_icon_reverse, icon: section.settings.icon, content: section.settings.button_1_text, size: 'xl', class: cls1 -%}
        </div>
      {%- endif -%}
      <div class="{% if section.settings.show_progress_bar %}scrollable-with-controls{% else %}floating-controls-container{% endif %}">
    {%- assign scroll_area_id = 'scroll-area-' | append: section.id -%}

    <scroll-carousel selector=".multi-column__item" id="{{ scroll_area_id }}" class="scroll-area bleed {% if section.blocks.size > section.settings.collections_per_row %}is-scrollable{% endif %}">
        <multi-column class="collection-list">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'item' -%}
                        {% assign block_styles = "block_styles" | append: block.id %}
                        <div class="{{ block_styles }} contact-form multi-column__item justify-{{ section.settings.text_alignment_column }} snap-start" {{ block.shopify_attributes }}> 
                        {%- if block.settings.video != blank -%}
                                <video-media autoplay style="--aspect-ratio: {{ block.settings.video.aspect_ratio }}">
                                    {{ block.settings.video | video_tag: playsinline: true, muted: true, loop: true, preload: 'metadata', class: 'rounded' }}
                                </video-media>
                            {%- elsif block.settings.image != blank -%}
                                {%- capture sizes -%}(max-width: 699px) calc(73vw - 40px), (max-width: 999px) calc(38vw - 64px), calc(min({{ settings.page_width }}px, 100vw) / {{ block.settings.column_size }}){%- endcapture -%}
                                <div class="image-container-{{ block.id }}" style="display: flex; align-items: center; justify-content: center;">
                                    {%- capture class -%}image-{{ block.id }}{%- endcapture -%}
                                    {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,800,1000,1200,1400,1600,1800', class: class -}}
                                </div>
                            {%- endif -%}
                            {%- if block.settings.title != blank or block.settings.content != blank or block.settings.link_text != blank -%}
                                <div class="v-stack gap-4 text-{{ section.settings.text_alignment_column }}">
                                    {%- if block.settings.title != blank -%}
                                        <p class="{{ block.settings.heading_tag }}">{{ block.settings.title | escape }}</p>
                                    {%- endif -%}

                                    {%- if block.settings.content != blank or block.settings.link_text != blank -%}
                                        <div class="prose">
                                            {{- block.settings.content -}}

                                            
                                        </div>
                                        {%- if block.settings.link_text != blank -%}
                                                <div>
                                                    {%- if block.settings.link_style == 'link' -%}
                                                        <a href="{{ block.settings.link_url }}" class="link">{{ block.settings.link_text | escape }}</a>
                                                    {%- else -%}
                                                        {%- render 'button', href: block.settings.link_url, content: block.settings.link_text, size: 'lg' -%}
                                                    {%- endif -%}
                                                </div>
                                            {%- endif -%}
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        </div>
                {%- endcase -%}
            {%- endfor -%}
        </multi-column>
    </scroll-carousel>

    {%- if section.settings.stack_collections == false -%}
        {%- if section.settings.show_progress_bar -%}
            {%- assign default_progress = section.settings.collections_per_row | times: 1.0 | divided_by: section.blocks.size -%}
            {%- render 'scrollbar', observes: scroll_area_id, default_progress: default_progress, show_buttons: true -%}
        {%- else -%}
            <button is="prev-button" class="circle-button circle-button--lg circle-button--fill border group" aria-controls="{{ scroll_area_id }}" disabled>
                <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
                <span class="animated-arrow animated-arrow--reverse"></span>
            </button>

            <button is="next-button" class="circle-button circle-button--lg circle-button--fill border group" aria-controls="{{ scroll_area_id }}">
                <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
                <span class="animated-arrow"></span>
            </button>
        {%- endif -%}
    {%- endif -%}
</div>
</div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "Multi-column",
  "class": "shopify-section--multi-column",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_collections",
      "label": "Stack content",
      "default": true
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "min": 2,
      "max": 5,
      "label": "Collections per row (desktop)",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar",
      "label": "Show carousel progress bar",
      "default": false
    },
     {
      "type": "select",
      "id": "align_center",
      "label": "Content column position",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "select",
      "id": "gap",
      "label": "Gap spacing",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
        "value": "x-large",
        "label": "X-Large"
        },
        {
        "value": "2x-large",
        "label": "2X-Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "text_alignment_column",
      "label": "Text alignment content column",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "richtext",
      "id": "content2",
      "label": "Subheading",
      "default": "<h6>Subheading</h6>"
    },
    {
      "type": "richtext",
      "id": "content3",
      "label": "Heading",
      "default": "<h1>Heading</h1>"
    },      
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Organize content into multiple columns to share useful information to your customers about your products, values...</p>"
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "type": "text",
      "id": "button_1_text",
      "label": "Button 1 text"
    },
    {
      "type": "color",
      "id": "button_1_text_color",
      "label": "Button 1 text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_1_text_color_hovered",
      "label": "Text color (hover)"
    }, {
      "type": "url",
      "id": "button_1_link",
      "label": "Button 1 link",
      "info": "Leave the button text empty to make the slide fully clickable."
    },
    {
      "type": "select",
      "id": "icon",
      "label": "Icon",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "picto-coupon",
          "label": "Coupon",
          "group": "Shop"
        },
        {
          "value": "picto-percent",
          "label": "Percent",
          "group": "Shop"
        },
        {
          "value": "picto-gift",
          "label": "Gift",
          "group": "Shop"
        }, {
          "value": "picto-star",
          "label": "Star",
          "group": "Shop"
        }, {
          "value": "picto-like",
          "label": "Like",
          "group": "Shop"
        }, {
          "value": "picto-building",
          "label": "Building",
          "group": "Shop"
        }, {
          "value": "picto-love",
          "label": "Love",
          "group": "Shop"
        }, {
          "value": "picto-award-gift",
          "label": "Award gift",
          "group": "Shop"
        }, {
          "value": "picto-happy",
          "label": "Happy",
          "group": "Shop"
        }, {
          "value": "picto-box",
          "label": "Box",
          "group": "Shipping"
        }, {
          "value": "picto-pin",
          "label": "Pin",
          "group": "Shipping"
        }, {
          "value": "picto-timer",
          "label": "Timer",
          "group": "Shipping"
        }, {
          "value": "picto-validation",
          "label": "Validation",
          "group": "Shipping"
        }, {
          "value": "picto-truck",
          "label": "Truck",
          "group": "Shipping"
        }, {
          "value": "picto-return",
          "label": "Return",
          "group": "Shipping"
        }, {
          "value": "picto-earth",
          "label": "Earth",
          "group": "Shipping"
        }, {
          "value": "picto-plane",
          "label": "Plane",
          "group": "Shipping"
        }, {
          "value": "picto-credit-card",
          "label": "Credit card",
          "group": "Payment & Security"
        }, {
          "value": "picto-lock",
          "label": "Lock",
          "group": "Payment & Security"
        }, {
          "value": "picto-shield",
          "label": "Shield",
          "group": "Payment & Security"
        }, {
          "value": "picto-secure-profile",
          "label": "Secure profile",
          "group": "Payment & Security"
        }, {
          "value": "picto-money",
          "label": "Money",
          "group": "Payment & Security"
        }, {
          "value": "picto-recycle",
          "label": "Recycle",
          "group": "Ecology"
        }, {
          "value": "picto-leaf",
          "label": "Leaf",
          "group": "Ecology"
        }, {
          "value": "picto-tree",
          "label": "Tree",
          "group": "Ecology"
        }, {
          "value": "picto-mobile-phone",
          "label": "Mobile phone",
          "group": "Communication"
        }, {
          "value": "picto-phone",
          "label": "Phone",
          "group": "Communication"
        }, {
          "value": "picto-chat",
          "label": "Chat",
          "group": "Communication"
        }, {
          "value": "picto-customer-support",
          "label": "Customer support",
          "group": "Communication"
        }, {
          "value": "picto-operator",
          "label": "Operator",
          "group": "Communication"
        }, {
          "value": "picto-mailbox",
          "label": "Mailbox",
          "group": "Communication"
        }, {
          "value": "picto-envelope",
          "label": "Envelope",
          "group": "Communication"
        }, {
          "value": "picto-comment",
          "label": "Comment",
          "group": "Communication"
        }, {
          "value": "picto-question",
          "label": "Question",
          "group": "Communication"
        }, {
          "value": "picto-send",
          "label": "Send",
          "group": "Communication"
        }, {
          "value": "picto-at-sign",
          "label": "At sign",
          "group": "Tech"
        }, {
          "value": "picto-camera",
          "label": "Camera",
          "group": "Tech"
        }, {
          "value": "picto-wifi",
          "label": "WiFi",
          "group": "Tech"
        }, {
          "value": "picto-bluetooth",
          "label": "Bluetooth",
          "group": "Tech"
        }, {
          "value": "picto-printer",
          "label": "Printer",
          "group": "Tech"
        }, {
          "value": "picto-smart-watch",
          "label": "Smart watch",
          "group": "Tech"
        }, {
          "value": "picto-coffee",
          "label": "Coffee",
          "group": "Food & Drink"
        }, {
          "value": "picto-burger",
          "label": "Burger",
          "group": "Food & Drink"
        }, {
          "value": "picto-beer",
          "label": "Beer",
          "group": "Food & Drink"
        }, {
          "value": "picto-target",
          "label": "Target",
          "group": "Other"
        }, {
          "value": "picto-document",
          "label": "Document",
          "group": "Other"
        }, {
          "value": "picto-jewelry",
          "label": "Jewelry",
          "group": "Other"
        }, {
          "value": "picto-music",
          "label": "Music",
          "group": "Other"
        }, {
          "value": "picto-file",
          "label": "File",
          "group": "Other"
        }, {
          "value": "picto-mask",
          "label": "Mask",
          "group": "Other"
        }, {
          "value": "picto-stop",
          "label": "Stop",
          "group": "Other"
        }
      ],
      "default": "none"
    },
    {
      "type": "image_picker",
      "id": "custom_icon1",
      "label": "Custom icon",
      "info": "240 x 240px .png recommended"
    },
    {
      "type": "select",
      "id": "button_1_icon_reverse",
      "label": "Icon position",
      "options": [
        {
          "value": "row",
          "label": "Left"
        },
        {
          "value": "row-reverse",
          "label": "Right"
        }
      ],
      "default": "row"
    }, {
      "id": "button_1_border_radius",
      "label": "Button 1 border radius",
      "type": "range",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "button_1_background",
      "label": "Button 1 background",
      "default": "#ffffff"
    }, {
      "type": "color",
      "id": "button_1_background_hovered",
      "label": "Button 1 bg hovered"
    }, {
      "type": "color_background",
      "id": "button_1_background_gradient",
      "label": "Background gradient for button 1"
    }, {
      "type": "color_background",
      "id": "button_1_background_gradient_hovered",
      "label": "Background gradient when hovered"
    }, {
      "type": "color",
      "id": "button_1_border_color",
      "label": "Border color",
      "default": "#000000"
    }, {
      "type": "color",
      "id": "button_1_border_color_hovered",
      "label": "Border color hovered",
      "default": "#000000"
    }, {
      "id": "button_1_border_width",
      "label": "Border width",
      "type": "range",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "range",
      "id": "background_radius",
      "label": "Background radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1400 x 1400px .jpg recommended"
        },
        {
          "type": "checkbox",
          "id": "image_reverse",
          "label": "Image reverse",
          "default": false
        },
        {
          "type": "color",
          "id": "image_border_color",
          "label": "Image border color"
        },
        {
          "type": "range",
          "id": "image_border_width",
          "label": "Image border width",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "background_image_radius",
          "label": "Image radius",
          "info": "Set radius only if Image covering is None",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 25
        },
        {
          "type": "select",
          "id": "image_covering_shape",
          "label": "Image covering shape",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "circle",
              "label": "Circle"
            },
            {
              "value": "octagon",
              "label": "Octagon"
            },
            {
              "value": "diamond",
              "label": "Diamond (lozenge)"
            }
          ],
          "default": "none"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "info": "Video are muted automatically and will autoplay."
        },
        {
          "type": "select",
          "id": "column_size",
          "label": "Desktop item size",
          "options": [
            {
              "value": "6",
              "label": "Small"
            },
            {
              "value": "4",
              "label": "Medium"
            },
            {
              "value": "1.5",
              "label": "Large"
            }
          ],
          "default": "6"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Column title"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading style",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h4"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "select",
          "id": "link_style",
          "label": "Link style",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "button",
              "label": "Button"
            }
          ],
          "default": "link"
        },
         {
      "type": "header",
      "content": "Background column title",
      "info": "Background column title"
      },
         {
        "type": "color",
        "id": "block_background",
        "label": "Background"
      }, {
        "type": "color_background",
        "id": "block_background_gradient",
        "label": "Background gradient"
      }, {
        "type": "range",
        "id": "border_width",
        "label": "Border width",
        "min": 0,
        "max": 5,
        "step": 0.2,
        "default": 0
      }, {
        "type": "range",
        "id": "border_radius",
        "label": "Border radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "default": 25
      }, {
        "type": "color",
        "id": "border_color",
        "label": "Border color"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi-column",
      "blocks": [
        {
          "type": "item",
          "settings": {}
        },
        {
          "type": "item",
          "settings": {}
        },
        {
          "type": "item",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}