{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }}{
      --rich-text-max-width: {% if section.settings.content_width == 'small' %}
        650px{% elsif section.settings.content_width == 'medium' %}
        780px{% else %}
        100%{% endif %}
    }

    .rich-text .prose,
    .split-rich-text .prose {
      display: inherit;
      flex-direction: column;
    }

    .prose * + .button {
      margin-block-start: var(--spacing-5) !important;
    }

    {% for block in section.blocks %}
      {%- if block.settings.button_1_text != blank -%}
        {% assign cls1 = "button-1-" | append: block.id %}
        {%- render 'button-styles', class: cls1, 
        background_gradient: block.settings.button_1_background_gradient,
        background: block.settings.button_1_background,
        text_color: block.settings.button_1_text_color,
        border_color: block.settings.button_1_border_color,
        border_width: block.settings.button_1_border_width,
        border_radius: block.settings.button_1_border_radius,
        background_hovered: block.settings.button_1_background_hovered,
        text_color_hovered: block.settings.button_1_text_color_hovered, 
        background_gradient_hovered: block.settings.button_1_background_gradient_hovered,
        border_color_hovered: block.settings.button_1_border_color_hovered, -%}
      {%- endif -%}

      {%- if block.settings.button_2_text != blank -%}
        {% assign cls2 = "button-2-" | append: block.id %}
        {%- render 'button-styles', class: cls2, 
        background_gradient: block.settings.button_2_background_gradient,
        background: block.settings.button_2_background,
        text_color: block.settings.button_2_text_color,
        border_color: block.settings.button_2_border_color,
        border_width: block.settings.button_2_border_width,
        border_radius: block.settings.button_2_border_radius,
        background_hovered: block.settings.button_2_background_hovered,
        text_color_hovered: block.settings.button_2_text_color_hovered, 
        background_gradient_hovered: block.settings.button_2_background_gradient_hovered,
        border_color_hovered: block.settings.button_2_border_color_hovered, -%}
      {%- endif -%}

      {% if block.type == "richtext" and block.settings.content != blank %}
        {% assign richtextId = "richtext-" | append: block.id %}
        {%- render 'paragraph-styles', id: richtextId,
          font_size_in_px: block.settings.font_size_in_px,
          italic_font: block.settings.italic_font,
          text_color: block.settings.text_color,
          max_width: block.settings.max_width,
          checkbox_underline: block.settings.checkbox_underline,
          underline_color: block.settings.underline_color,
          text_gradient: block.settings.text_gradient,
          font: block.settings.font_family, -%}
      {% endif %}

      {% if block.type == "richtext2" and block.settings.content2 != blank %}
        {% assign richtextId2 = "richtext2-" | append: block.id %}
        {%- render 'paragraph-styles', id: richtextId2, 
          font_size_in_px: block.settings.font_size_in_px2,
          italic_font: block.settings.italic_font2,
          text_color: block.settings.text_color2,
          max_width: block.settings.max_width2,
          checkbox_underline: block.settings.checkbox_underline2,
          underline_color: block.settings.underline_color2,
          text_gradient: block.settings.text_gradient2, -%}
      {% endif %}

      {% if block.type == "richtext3" and block.settings.content3 != blank %}
        {% assign richtextId3 = "richtext3-" | append: block.id %}
        {%- render 'paragraph-styles', id: richtextId3, 
          font_size_in_px: block.settings.font_size_in_px3,
          italic_font: block.settings.italic_font3,
          text_color: block.settings.text_color3,
          max_width: block.settings.max_width3,
          checkbox_underline: block.settings.checkbox_underline3,
          underline_color: block.settings.underline_color3,
          text_gradient: block.settings.text_gradient3, -%}
      {% endif %}

      {% assign block_styles = "block_styles" | append: block.id %}
        {%- render 'block-styles', class: block_styles, 
          border_width: section.settings.border_width,
          border_color: section.settings.border_color,
          block_background: section.settings.block_background,
          block_background_gradient: section.settings.block_background_gradient,
          border_radius: section.settings.border_radius,
          border_padding: section.settings.content_width -%}

          {% assign block_class = block.type | append: "-" | append: block.id %}
          

          {{ block.settings.font_family | font_face: font_display: 'fallback' }}
          .{{ block_class }} {
            {%- if block.settings.font_family != blank -%}
              font-family: {{ block.settings.font_family.family }}, {{ block.settings.font_family.fallback_families }};
              --heading-font-family: {{ block.settings.font_family.family }}, {{ block.settings.font_family.fallback_families }};
            {% endif %}
          }
          
        {{ block.settings.font_family_italic | font_face: font_display: 'fallback' }}  
       .{{ block_class }} i, .{{ block_class }} em {
          {%- if block.settings.font_family_italic != blank -%}
            font-family: {{ block.settings.font_family_italic.family }}, {{ block.settings.font_family_italic.fallback_families }};
          {% endif %}
        }

    {% endfor %}

  </style>

  <div {% render 'section-properties' %}>
  {%- assign text_position = section.settings.text_position -%}
  {%- assign blocks_before_divider = '' -%}
  {%- assign blocks_after_divider = '' -%}
  {% assign padding_text = section.settings.padding_text %}
  <div class="{{ block_styles }} contact-form" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    
    {%- for block in section.blocks -%}
      {%- capture block_content -%}
        {%- case block.type -%}
         
          {%- when 'richtext2' -%}
            {%- if block.settings.content2 != blank -%}
              {% assign richtextId2 = "richtext2-" | append: block.id %}
              <div id="{{ richtextId2 }}" class="{{ block.type }}-{{ block.id }}" style="padding-bottom: {{ padding_text }}px;" {{ block.shopify_attributes }}>
                {{- block.settings.content2 -}}
              </div>  
            {%- endif -%}

            {%- when 'richtext3' -%}
            {%- if block.settings.content3 != blank -%}
              {% assign richtextId3 = "richtext3-" | append: block.id %}
              <div id="{{ richtextId3 }}" class="{{ block.type }}-{{ block.id }}" style="padding-bottom: {{ padding_text }}px;" {{ block.shopify_attributes }}>
                {{- block.settings.content3 -}}
              </div>  
            {%- endif -%}

              {%- when 'richtext' -%}
            {%- if block.settings.content != blank -%}
              {% assign richtextId = "richtext-" | append: block.id %}
              <div id="{{ richtextId }}" class="{{ block.type }}-{{ block.id }}" style="padding-bottom: {{ padding_text }}px;" {{ block.shopify_attributes }}>
                {{- block.settings.content -}}
              </div>  
            {%- endif -%}

          {%- when 'page' -%}
          {%- if block.settings.page.content != blank -%}
            <div {{ block.shopify_attributes }}>
              {{- block.settings.page.content -}}
            </div>
          {%- endif -%}

          {%- when 'liquid' -%}
          {%- if block.settings.liquid != blank -%}
            <div {{ block.shopify_attributes }}>
              {{- block.settings.liquid -}}
            </div>
          {%- endif -%}

          {%- when 'image' -%}
          {%- if block.settings.image != blank -%}
            <div {{ block.shopify_attributes }} style="margin-block-start: 0">
              {%- capture image_style_attribute -%}
                {% if section.settings.text_position == 'center' %}margin-inline: auto;{% endif %}
              {%- endcapture -%}

              {%- if block.settings.width_mode == 'custom' -%}
                {%- capture image_style_attribute -%}
                  {{ image_style_attribute }} --image-max-width: {{ block.settings.max_width }}px; --image-mobile-max-width: {{ block.settings.mobile_max_width }}px{%- endcapture -%}
                {%- capture image_sizes_attribute -%}(max-width: 699px) min({{ block.settings.mobile_max_width }}px, 100vw), min({{ block.settings.max_width }}px, 100vw){%- endcapture -%}
              {%- else -%}
                {%- capture image_sizes_attribute -%}min(100vw, var(--page-width)){%- endcapture -%}
              {%- endif -%}

              {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: image_sizes_attribute, widths: '200,300,400,500,600,800,1000,1200,1400,1600', style: image_style_attribute -}}
            </div>
          {%- endif -%}

          {%- when 'button' -%}

            {%- assign button_1_length = block.settings.button_1_text | size -%}
            {%- assign button_2_length = block.settings.button_2_text | size -%}

            {%- if button_1_length >= button_2_length -%}
                {%- assign button_width = button_1_length | times: 18 | append: 'px' -%}
            {%- else -%}
                {%- assign button_width = button_2_length | times: 18 | append: 'px' -%}
            {%- endif -%}
           
            {%- if block.settings.button_1_text != blank -%}
             
              <div>
                 {%- assign padding_right = block.settings.button_1_padding -%}
                <div style="display: inline-block; padding-right: {{ padding_right }}px;">
                  {% assign cls1 = "button-1-" | append: block.id %}
                  {%- render 'button', href: block.settings.button_1_link, width_button: button_width, custom_icon: block.settings.custom_icon1, icon_reverse: block.settings.button_1_icon_reverse, icon: block.settings.icon, content: block.settings.button_1_text, size: 'xl', class: cls1 -%}
                </div>
              {%- endif -%}

              {%- if block.settings.button_2_text != blank -%}
                {%- assign padding_right = block.settings.button_2_padding -%}
                
                <div style="display: inline-block;">
                  {% assign cls2 = "button-2-" | append: block.id %}
                  {%- render 'button' href: block.settings.button_2_link, width_button: button_width, icon_reverse: block.settings.button_2_icon_reverse, icon: block.settings.icon2, content: block.settings.button_2_text, size: 'xl', class: cls2 -%}
                </div>
              {%- endif -%}
            </div>

          {%- when 'icon' -%}
          {%- capture icon -%}
            
            {%- if block.settings.custom_icon != blank -%}
              {%- capture sizes -%}
                {{ block.settings.icon_width }}px{%- endcapture -%}
              {%- capture widths -%}
                {{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.custom_icon.width }}{%- endcapture -%}
              {%- capture style -%}--icon-max-width: {{ block.settings.icon_width }}px{%- endcapture -%}
              {{- block.settings.custom_icon | image_url: width: block.settings.custom_icon.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, style: style, class: 'image-icon' -}}
            {%- else -%}
              {%- render 'icon' with block.settings.icon, width: block.settings.icon_width, height: block.settings.icon_width -%}
            {%- endif -%}
            
          {%- endcapture -%}

          {%- if icon != blank -%}
            <div style="display: flex; align-items: center; justify-content: center" {{ block.shopify_attributes }}>
              {%- if block.settings.icon_background_type == 'none' -%}
                <div style="width: {{ block.settings.icon_width }}" {% render 'surface', text_color: block.settings.icon_color %}>
                  {{- icon -}}
                </div>
              {%- else -%}
                {%- capture surface_class -%}icon-block
                  {% if block.settings.icon_background_type == 'circle' %}rounded-full{% endif %}
                {%- endcapture -%}
                <div style="width: {{ block.settings.icon_width }}" {% render 'surface', class: surface_class, background: block.settings.icon_background, text_color: block.settings.icon_color, background_fallback: 'bg-secondary' %}>
                  {{- icon -}}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}

          {%- when 'divider' -%}
          {%- assign divider_index = forloop.index -%}
        {%- endcase -%}
      {%- endcapture -%}

      {%- if divider_index == blank or forloop.index < divider_index -%}
        {%- assign blocks_before_divider = blocks_before_divider | append: block_content -%}
      {%- else -%}
        {%- assign blocks_after_divider = blocks_after_divider | append: block_content -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if blocks_before_divider != blank and blocks_after_divider != blank -%}
      <div class="split-rich-text">
        <div class="prose justify-items-{{ text_position }} text-{{ text_position }}">
          {{- blocks_before_divider -}}
        </div>

        <div class="prose justify-items-{{ text_position }} text-{{ text_position }}">
          {{- blocks_after_divider -}}
        </div>
      </div>
    {%- endif -%}

    <div class="rich-text justify-{{ text_position }} {% if blocks_before_divider != blank and blocks_after_divider != blank %}md:hidden{% endif %}">
      <div class="rich-text__wrapper">
        <div class="prose justify-items-{{ text_position }} text-{{ text_position }}">
          {{- blocks_before_divider -}}
          {{- blocks_after_divider -}}
        </div>
      </div>
    </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Rich text",
    "class": "shopify-section--rich-text",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "custom.overlay"]
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "select",
        "id": "content_width",
        "label": "Content width",
        "options": [
          {
            "value": "small",
            "label": "Small"
          }, {
            "value": "medium",
            "label": "Medium"
          }, {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "options": [
          {
            "value": "start",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "Section colors",
        "info": "Gradient replaces solid colors when set."
      }, {
        "type": "color",
        "id": "background",
        "label": "Background"
      }, {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Background gradient"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text"
      }, {
        "type": "header",
        "content": "Block colors",
        "info": "Gradient replaces solid colors when set."
      }, {
        "type": "color",
        "id": "block_background",
        "label": "Background"
      }, {
        "type": "color_background",
        "id": "block_background_gradient",
        "label": "Background gradient"
      }, {
        "type": "range",
        "id": "border_width",
        "label": "Border width",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      }, {
        "type": "range",
        "id": "border_radius",
        "label": "Border radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "default": 25
      }, {
        "type": "color",
        "id": "border_color",
        "label": "Border color"
      },
       {
        "type": "range",
        "id": "padding_text",
        "label": "Padding",
        "default": 2,
        "min": 0,
        "max": 20,
        "step": 2,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "richtext2",
        "name": "Subheading",
        "settings": [
          {
            "type": "richtext",
            "id": "content2",
            "label": "Content",
            "default": "<h6>Subheading</h6>"
          },
          {
            "type": "color",
            "id": "text_color2",
            "label": "Text"
          },
          {
            "type": "color_background",
            "id": "text_gradient2",
            "label": "Text gradient"
          },
          {
            "type": "checkbox",
            "id": "checkbox_underline2",
            "label": "Underline",
            "default": false
          }, {
            "type": "color",
            "id": "underline_color2",
            "label": "Underline color"
          }, {
            "type": "range",
            "id": "font_size_in_px2",
            "info": "-  Please set font size for a paragraph  -  (not a heading)",
            "label": "Font size X ...",
            "min": 11,
            "max": 50,
            "step": 1,
            "default": 16
          }, {
            "type": "header",
            "info": "Selecting different fonts can affect the speed of your online store. Learn more about [system fonts.](https://help.shopify.com/en/manual/online-store/os/store-speed/improving-speed#fonts)",
            "content": "Fonts"
          }, {
            "type": "font_picker",
            "id": "font_family",
            "label": "Choose a Font",
            "default": "helvetica_n4"
          },
          {
            "type": "header",
            "info": "Fonts for italic text",
            "content": "Fonts italic text"
          },
          {
            "type": "font_picker",
            "id": "font_family_italic",
            "label": "Choose a Font for italic texte",
            "default": "helvetica_n4"
          },
          {
            "type": "range",
            "id": "max_width2",
            "label": "Max width in percent",
            "min": 40,
            "max": 100,
            "step": 2,
            "default": 100
          }
        ]
      },
      {
        "type": "richtext3",
        "name": "Heading",
        "settings": [
          {
            "type": "richtext",
            "id": "content3",
            "label": "Content",
            "default": "<h1>Heading</h1>"
          },
          {
            "type": "color",
            "id": "text_color3",
            "label": "Text"
          },
          {
            "type": "color_background",
            "id": "text_gradient3",
            "label": "Text gradient"
          },
          {
            "type": "checkbox",
            "id": "checkbox_underline3",
            "label": "Underline",
            "default": false
          }, {
            "type": "color",
            "id": "underline_color3",
            "label": "Underline color"
          }, {
            "type": "range",
            "id": "font_size_in_px3",
            "info": "-  Please set font size for a paragraph  -  (not a heading)",
            "label": "Font size X ...",
            "min": 11,
            "max": 50,
            "step": 1,
            "default": 16
          }, {
            "type": "header",
            "info": "Selecting different fonts can affect the speed of your online store. Learn more about [system fonts.](https://help.shopify.com/en/manual/online-store/os/store-speed/improving-speed#fonts)",
            "content": "Fonts"
          }, {
            "type": "font_picker",
            "id": "font_family",
            "label": "Choose a Font",
            "default": "helvetica_n4"
          },
          {
            "type": "header",
            "info": "Fonts for italic text",
            "content": "Fonts italic text"
          },
          {
            "type": "font_picker",
            "id": "font_family_italic",
            "label": "Choose a Font for italic texte",
            "default": "helvetica_n4"
          },
          {
            "type": "range",
            "id": "max_width3",
            "label": "Max width in percent",
            "min": 40,
            "max": 100,
            "step": 2,
            "default": 100
          }
        ]
      },
      {
        "type": "richtext",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text"
          },
          {
            "type": "color_background",
            "id": "text_gradient",
            "label": "Text gradient"
          },
          {
            "type": "checkbox",
            "id": "checkbox_underline",
            "label": "Underline",
            "default": false
          }, {
            "type": "color",
            "id": "underline_color",
            "label": "Underline color"
          }, {
            "type": "range",
            "id": "font_size_in_px",
            "info": "-  Please set font size for a paragraph  -  (not a heading)",
            "label": "Font size X ...",
            "min": 11,
            "max": 50,
            "step": 1,
            "default": 16
          }, {
            "type": "header",
            "info": "Selecting different fonts can affect the speed of your online store. Learn more about [system fonts.](https://help.shopify.com/en/manual/online-store/os/store-speed/improving-speed#fonts)",
            "content": "Fonts"
          }, {
            "type": "font_picker",
            "id": "font_family",
            "label": "Choose a Font",
            "default": "helvetica_n4"
          },
          {
            "type": "header",
            "info": "Fonts for italic text",
            "content": "Fonts italic text"
          },
          {
            "type": "font_picker",
            "id": "font_family_italic",
            "label": "Choose a Font for italic texte",
            "default": "helvetica_n4"
          },
          {
            "type": "range",
            "id": "max_width",
            "label": "Max width in percent",
            "min": 40,
            "max": 100,
            "step": 2,
            "default": 100
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "page",
            "id": "page",
            "label": "Page"
          }
        ]
      },
      {
        "type": "liquid",
        "name": "Liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "liquid",
            "label": "Liquid",
            "default": "<p>Write custom Liquid code to include widget or dynamic code.</p>"
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1600 x 800px .jpg recommended"
          }, {
            "type": "radio",
            "id": "width_mode",
            "label": "Image width",
            "options": [
              {
                "value": "full_width",
                "label": "Full width"
              }, {
                "value": "custom",
                "label": "Custom"
              }
            ],
            "default": "custom"
          }, {
            "type": "range",
            "id": "max_width",
            "min": 100,
            "max": 1000,
            "step": 10,
            "unit": "px",
            "label": "Maximum width",
            "default": 600
          }, {
            "type": "range",
            "id": "mobile_max_width",
            "min": 100,
            "max": 600,
            "step": 10,
            "unit": "px",
            "label": "Mobile maximum width",
            "default": 400
          }
        ]
      }, {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "header",
            "content": "Button 1"
          },
          {
            "type": "text",
            "id": "button_1_text",
            "label": "Button 1 text",
            "default": "Button"
          },
          {
            "type": "color",
            "id": "button_1_text_color",
            "label": "Button 1 text color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "button_1_text_color_hovered",
            "label": "Text color (hover)"
          }, {
            "type": "url",
            "id": "button_1_link",
            "label": "Button 1 link",
            "info": "Leave the button text empty to make the slide fully clickable."
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "picto-coupon",
                "label": "Coupon",
                "group": "Shop"
              },
              {
                "value": "picto-percent",
                "label": "Percent",
                "group": "Shop"
              },
              {
                "value": "picto-gift",
                "label": "Gift",
                "group": "Shop"
              }, {
                "value": "picto-star",
                "label": "Star",
                "group": "Shop"
              }, {
                "value": "picto-like",
                "label": "Like",
                "group": "Shop"
              }, {
                "value": "picto-building",
                "label": "Building",
                "group": "Shop"
              }, {
                "value": "picto-love",
                "label": "Love",
                "group": "Shop"
              }, {
                "value": "picto-award-gift",
                "label": "Award gift",
                "group": "Shop"
              }, {
                "value": "picto-happy",
                "label": "Happy",
                "group": "Shop"
              }, {
                "value": "picto-box",
                "label": "Box",
                "group": "Shipping"
              }, {
                "value": "picto-pin",
                "label": "Pin",
                "group": "Shipping"
              }, {
                "value": "picto-timer",
                "label": "Timer",
                "group": "Shipping"
              }, {
                "value": "picto-validation",
                "label": "Validation",
                "group": "Shipping"
              }, {
                "value": "picto-truck",
                "label": "Truck",
                "group": "Shipping"
              }, {
                "value": "picto-return",
                "label": "Return",
                "group": "Shipping"
              }, {
                "value": "picto-earth",
                "label": "Earth",
                "group": "Shipping"
              }, {
                "value": "picto-plane",
                "label": "Plane",
                "group": "Shipping"
              }, {
                "value": "picto-credit-card",
                "label": "Credit card",
                "group": "Payment & Security"
              }, {
                "value": "picto-lock",
                "label": "Lock",
                "group": "Payment & Security"
              }, {
                "value": "picto-shield",
                "label": "Shield",
                "group": "Payment & Security"
              }, {
                "value": "picto-secure-profile",
                "label": "Secure profile",
                "group": "Payment & Security"
              }, {
                "value": "picto-money",
                "label": "Money",
                "group": "Payment & Security"
              }, {
                "value": "picto-recycle",
                "label": "Recycle",
                "group": "Ecology"
              }, {
                "value": "picto-leaf",
                "label": "Leaf",
                "group": "Ecology"
              }, {
                "value": "picto-tree",
                "label": "Tree",
                "group": "Ecology"
              }, {
                "value": "picto-mobile-phone",
                "label": "Mobile phone",
                "group": "Communication"
              }, {
                "value": "picto-phone",
                "label": "Phone",
                "group": "Communication"
              }, {
                "value": "picto-chat",
                "label": "Chat",
                "group": "Communication"
              }, {
                "value": "picto-customer-support",
                "label": "Customer support",
                "group": "Communication"
              }, {
                "value": "picto-operator",
                "label": "Operator",
                "group": "Communication"
              }, {
                "value": "picto-mailbox",
                "label": "Mailbox",
                "group": "Communication"
              }, {
                "value": "picto-envelope",
                "label": "Envelope",
                "group": "Communication"
              }, {
                "value": "picto-comment",
                "label": "Comment",
                "group": "Communication"
              }, {
                "value": "picto-question",
                "label": "Question",
                "group": "Communication"
              }, {
                "value": "picto-send",
                "label": "Send",
                "group": "Communication"
              }, {
                "value": "picto-at-sign",
                "label": "At sign",
                "group": "Tech"
              }, {
                "value": "picto-camera",
                "label": "Camera",
                "group": "Tech"
              }, {
                "value": "picto-wifi",
                "label": "WiFi",
                "group": "Tech"
              }, {
                "value": "picto-bluetooth",
                "label": "Bluetooth",
                "group": "Tech"
              }, {
                "value": "picto-printer",
                "label": "Printer",
                "group": "Tech"
              }, {
                "value": "picto-smart-watch",
                "label": "Smart watch",
                "group": "Tech"
              }, {
                "value": "picto-coffee",
                "label": "Coffee",
                "group": "Food & Drink"
              }, {
                "value": "picto-burger",
                "label": "Burger",
                "group": "Food & Drink"
              }, {
                "value": "picto-beer",
                "label": "Beer",
                "group": "Food & Drink"
              }, {
                "value": "picto-target",
                "label": "Target",
                "group": "Other"
              }, {
                "value": "picto-document",
                "label": "Document",
                "group": "Other"
              }, {
                "value": "picto-jewelry",
                "label": "Jewelry",
                "group": "Other"
              }, {
                "value": "picto-music",
                "label": "Music",
                "group": "Other"
              }, {
                "value": "picto-file",
                "label": "File",
                "group": "Other"
              }, {
                "value": "picto-mask",
                "label": "Mask",
                "group": "Other"
              }, {
                "value": "picto-stop",
                "label": "Stop",
                "group": "Other"
              }
            ],
            "default": "none"
          },
          {
            "type": "image_picker",
            "id": "custom_icon1",
            "label": "Custom icon",
            "info": "240 x 240px .png recommended"
          },
          {
            "type": "range",
            "id": "icon_width1",
            "min": 24,
            "max": 120,
            "step": 4,
            "unit": "px",
            "label": "Icon width",
            "default": 32
          },
          {
            "type": "select",
            "id": "button_1_icon_reverse",
            "label": "Icon position",
            "options": [
              {
                "value": "row",
                "label": "Left"
              },
              {
                "value": "row-reverse",
                "label": "Right"
              }
            ],
            "default": "row"
          }, {
            "id": "button_1_border_radius",
            "label": "Button 1 border radius",
            "type": "range",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 50,
            "unit": "px"
          }, {
            "id": "button_1_padding",
            "label": "Button 1 padding",
            "type": "range",
            "min": 0,
            "max": 30,
            "step": 1,
            "default": 0,
            "unit": "px"
          }, {
            "type": "color",
            "id": "button_1_background",
            "label": "Button 1 background",
            "default": "#ffffff"
          }, {
            "type": "color",
            "id": "button_1_background_hovered",
            "label": "Button 1 bg hovered"
          }, {
            "type": "color_background",
            "id": "button_1_background_gradient",
            "label": "Background gradient for button 1"
          }, {
            "type": "color_background",
            "id": "button_1_background_gradient_hovered",
            "label": "Background gradient when hovered"
          }, {
            "type": "color",
            "id": "button_1_border_color",
            "label": "Border color",
            "default": "#000000"
          }, {
            "type": "color",
            "id": "button_1_border_color_hovered",
            "label": "Border color hovered",
            "default": "#000000"
          }, {
            "id": "button_1_border_width",
            "label": "Border width",
            "type": "range",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0,
            "unit": "px"
          }, {
            "type": "header",
            "content": "Button 2"
          }, {
            "type": "text",
            "id": "button_2_text",
            "label": "Button 2 text"
          },
          {
            "type": "color",
            "id": "button_2_text_color",
            "label": "Button 2 text color",
            "default": "#000000"
          },
          {
            "type": "color",
            "id": "button_2_text_color_hovered",
            "label": "Text color (hover)"
          }, {
            "type": "url",
            "id": "button_2_link",
            "label": "Button 2 link",
            "info": "Leave the button text empty to make the slide fully clickable."
          },
          {
            "type": "select",
            "id": "icon2",
            "label": "Icon",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "picto-coupon",
                "label": "Coupon",
                "group": "Shop"
              },
              {
                "value": "picto-percent",
                "label": "Percent",
                "group": "Shop"
              },
              {
                "value": "picto-gift",
                "label": "Gift",
                "group": "Shop"
              }, {
                "value": "picto-star",
                "label": "Star",
                "group": "Shop"
              }, {
                "value": "picto-like",
                "label": "Like",
                "group": "Shop"
              }, {
                "value": "picto-building",
                "label": "Building",
                "group": "Shop"
              }, {
                "value": "picto-love",
                "label": "Love",
                "group": "Shop"
              }, {
                "value": "picto-award-gift",
                "label": "Award gift",
                "group": "Shop"
              }, {
                "value": "picto-happy",
                "label": "Happy",
                "group": "Shop"
              }, {
                "value": "picto-box",
                "label": "Box",
                "group": "Shipping"
              }, {
                "value": "picto-pin",
                "label": "Pin",
                "group": "Shipping"
              }, {
                "value": "picto-timer",
                "label": "Timer",
                "group": "Shipping"
              }, {
                "value": "picto-validation",
                "label": "Validation",
                "group": "Shipping"
              }, {
                "value": "picto-truck",
                "label": "Truck",
                "group": "Shipping"
              }, {
                "value": "picto-return",
                "label": "Return",
                "group": "Shipping"
              }, {
                "value": "picto-earth",
                "label": "Earth",
                "group": "Shipping"
              }, {
                "value": "picto-plane",
                "label": "Plane",
                "group": "Shipping"
              }, {
                "value": "picto-credit-card",
                "label": "Credit card",
                "group": "Payment & Security"
              }, {
                "value": "picto-lock",
                "label": "Lock",
                "group": "Payment & Security"
              }, {
                "value": "picto-shield",
                "label": "Shield",
                "group": "Payment & Security"
              }, {
                "value": "picto-secure-profile",
                "label": "Secure profile",
                "group": "Payment & Security"
              }, {
                "value": "picto-money",
                "label": "Money",
                "group": "Payment & Security"
              }, {
                "value": "picto-recycle",
                "label": "Recycle",
                "group": "Ecology"
              }, {
                "value": "picto-leaf",
                "label": "Leaf",
                "group": "Ecology"
              }, {
                "value": "picto-tree",
                "label": "Tree",
                "group": "Ecology"
              }, {
                "value": "picto-mobile-phone",
                "label": "Mobile phone",
                "group": "Communication"
              }, {
                "value": "picto-phone",
                "label": "Phone",
                "group": "Communication"
              }, {
                "value": "picto-chat",
                "label": "Chat",
                "group": "Communication"
              }, {
                "value": "picto-customer-support",
                "label": "Customer support",
                "group": "Communication"
              }, {
                "value": "picto-operator",
                "label": "Operator",
                "group": "Communication"
              }, {
                "value": "picto-mailbox",
                "label": "Mailbox",
                "group": "Communication"
              }, {
                "value": "picto-envelope",
                "label": "Envelope",
                "group": "Communication"
              }, {
                "value": "picto-comment",
                "label": "Comment",
                "group": "Communication"
              }, {
                "value": "picto-question",
                "label": "Question",
                "group": "Communication"
              }, {
                "value": "picto-send",
                "label": "Send",
                "group": "Communication"
              }, {
                "value": "picto-at-sign",
                "label": "At sign",
                "group": "Tech"
              }, {
                "value": "picto-camera",
                "label": "Camera",
                "group": "Tech"
              }, {
                "value": "picto-wifi",
                "label": "WiFi",
                "group": "Tech"
              }, {
                "value": "picto-bluetooth",
                "label": "Bluetooth",
                "group": "Tech"
              }, {
                "value": "picto-printer",
                "label": "Printer",
                "group": "Tech"
              }, {
                "value": "picto-smart-watch",
                "label": "Smart watch",
                "group": "Tech"
              }, {
                "value": "picto-coffee",
                "label": "Coffee",
                "group": "Food & Drink"
              }, {
                "value": "picto-burger",
                "label": "Burger",
                "group": "Food & Drink"
              }, {
                "value": "picto-beer",
                "label": "Beer",
                "group": "Food & Drink"
              }, {
                "value": "picto-target",
                "label": "Target",
                "group": "Other"
              }, {
                "value": "picto-document",
                "label": "Document",
                "group": "Other"
              }, {
                "value": "picto-jewelry",
                "label": "Jewelry",
                "group": "Other"
              }, {
                "value": "picto-music",
                "label": "Music",
                "group": "Other"
              }, {
                "value": "picto-file",
                "label": "File",
                "group": "Other"
              }, {
                "value": "picto-mask",
                "label": "Mask",
                "group": "Other"
              }, {
                "value": "picto-stop",
                "label": "Stop",
                "group": "Other"
              }
            ],
            "default": "none"
          },
          {
            "type": "image_picker",
            "id": "custom_icon2",
            "label": "Custom icon",
            "info": "240 x 240px .png recommended"
          },
          {
            "type": "range",
            "id": "icon_width2",
            "min": 24,
            "max": 120,
            "step": 4,
            "unit": "px",
            "label": "Icon width",
            "default": 32
          },
          {
            "type": "select",
            "id": "button_2_icon_reverse",
            "label": "Icon position",
            "options": [
              {
                "value": "row",
                "label": "Left"
              },
              {
                "value": "row-reverse",
                "label": "Right"
              }
            ],
            "default": "row"
          }, {
            "id": "button_2_border_radius",
            "label": "Button 2 border radius",
            "type": "range",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 50,
            "unit": "px"
          }, {
            "type": "color",
            "id": "button_2_background",
            "label": "Button 2 background",
            "default": "#fff000"
          }, {
            "type": "color",
            "id": "button_2_background_hovered",
            "label": "Button 2 bg hovered"
          }, {
            "type": "color_background",
            "id": "button_2_background_gradient",
            "label": "Background gradient for button 2"
          }, {
            "type": "color_background",
            "id": "button_2_background_gradient_hovered",
            "label": "Bg gradient when hovered"
          }, {
            "type": "color",
            "id": "button_2_border_color",
            "label": "Border color",
            "default": "#000000"
          }, {
            "type": "color",
            "id": "button_2_border_color_hovered",
            "label": "Border color hovered",
            "default": "#000000"
          }, {
            "id": "button_2_border_width",
            "label": "Border width",
            "type": "range",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0,
            "unit": "px"
          }
        ]
      }, {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "picto-coupon",
                "label": "Coupon",
                "group": "Shop"
              },
              {
                "value": "picto-percent",
                "label": "Percent",
                "group": "Shop"
              },
              {
                "value": "picto-gift",
                "label": "Gift",
                "group": "Shop"
              },
              {
                "value": "picto-star",
                "label": "Star",
                "group": "Shop"
              }, {
                "value": "picto-like",
                "label": "Like",
                "group": "Shop"
              }, {
                "value": "picto-building",
                "label": "Building",
                "group": "Shop"
              }, {
                "value": "picto-love",
                "label": "Love",
                "group": "Shop"
              }, {
                "value": "picto-award-gift",
                "label": "Award gift",
                "group": "Shop"
              }, {
                "value": "picto-happy",
                "label": "Happy",
                "group": "Shop"
              }, {
                "value": "picto-box",
                "label": "Box",
                "group": "Shipping"
              }, {
                "value": "picto-pin",
                "label": "Pin",
                "group": "Shipping"
              }, {
                "value": "picto-timer",
                "label": "Timer",
                "group": "Shipping"
              }, {
                "value": "picto-validation",
                "label": "Validation",
                "group": "Shipping"
              }, {
                "value": "picto-truck",
                "label": "Truck",
                "group": "Shipping"
              }, {
                "value": "picto-return",
                "label": "Return",
                "group": "Shipping"
              }, {
                "value": "picto-earth",
                "label": "Earth",
                "group": "Shipping"
              }, {
                "value": "picto-plane",
                "label": "Plane",
                "group": "Shipping"
              }, {
                "value": "picto-credit-card",
                "label": "Credit card",
                "group": "Payment & Security"
              }, {
                "value": "picto-lock",
                "label": "Lock",
                "group": "Payment & Security"
              }, {
                "value": "picto-shield",
                "label": "Shield",
                "group": "Payment & Security"
              }, {
                "value": "picto-secure-profile",
                "label": "Secure profile",
                "group": "Payment & Security"
              }, {
                "value": "picto-money",
                "label": "Money",
                "group": "Payment & Security"
              }, {
                "value": "picto-recycle",
                "label": "Recycle",
                "group": "Ecology"
              }, {
                "value": "picto-leaf",
                "label": "Leaf",
                "group": "Ecology"
              }, {
                "value": "picto-tree",
                "label": "Tree",
                "group": "Ecology"
              }, {
                "value": "picto-mobile-phone",
                "label": "Mobile phone",
                "group": "Communication"
              }, {
                "value": "picto-phone",
                "label": "Phone",
                "group": "Communication"
              }, {
                "value": "picto-chat",
                "label": "Chat",
                "group": "Communication"
              }, {
                "value": "picto-customer-support",
                "label": "Customer support",
                "group": "Communication"
              }, {
                "value": "picto-operator",
                "label": "Operator",
                "group": "Communication"
              }, {
                "value": "picto-mailbox",
                "label": "Mailbox",
                "group": "Communication"
              }, {
                "value": "picto-envelope",
                "label": "Envelope",
                "group": "Communication"
              }, {
                "value": "picto-comment",
                "label": "Comment",
                "group": "Communication"
              }, {
                "value": "picto-question",
                "label": "Question",
                "group": "Communication"
              }, {
                "value": "picto-send",
                "label": "Send",
                "group": "Communication"
              }, {
                "value": "picto-at-sign",
                "label": "At sign",
                "group": "Tech"
              }, {
                "value": "picto-camera",
                "label": "Camera",
                "group": "Tech"
              }, {
                "value": "picto-wifi",
                "label": "WiFi",
                "group": "Tech"
              }, {
                "value": "picto-bluetooth",
                "label": "Bluetooth",
                "group": "Tech"
              }, {
                "value": "picto-printer",
                "label": "Printer",
                "group": "Tech"
              }, {
                "value": "picto-smart-watch",
                "label": "Smart watch",
                "group": "Tech"
              }, {
                "value": "picto-coffee",
                "label": "Coffee",
                "group": "Food & Drink"
              }, {
                "value": "picto-burger",
                "label": "Burger",
                "group": "Food & Drink"
              }, {
                "value": "picto-beer",
                "label": "Beer",
                "group": "Food & Drink"
              }, {
                "value": "picto-target",
                "label": "Target",
                "group": "Other"
              }, {
                "value": "picto-document",
                "label": "Document",
                "group": "Other"
              }, {
                "value": "picto-jewelry",
                "label": "Jewelry",
                "group": "Other"
              }, {
                "value": "picto-music",
                "label": "Music",
                "group": "Other"
              }, {
                "value": "picto-file",
                "label": "File",
                "group": "Other"
              }, {
                "value": "picto-mask",
                "label": "Mask",
                "group": "Other"
              }, {
                "value": "picto-stop",
                "label": "Stop",
                "group": "Other"
              }
            ],
            "default": "picto-coupon"
          },
          {
            "type": "image_picker",
            "id": "custom_icon",
            "label": "Custom icon",
            "info": "240 x 240px .png recommended"
          },
          {
            "type": "range",
            "id": "icon_width",
            "min": 24,
            "max": 120,
            "step": 4,
            "unit": "px",
            "label": "Icon width",
            "default": 32
          },
          {
            "type": "select",
            "id": "icon_background_type",
            "label": "Icon background type",
            "options": [
              {
                "value": "none",
                "label": "None"
              }, {
                "value": "square",
                "label": "Square"
              }, {
                "value": "circle",
                "label": "Circle"
              }
            ],
            "default": "circle"
          }, {
            "type": "color",
            "id": "icon_background",
            "label": "Icon background"
          }, {
            "type": "color",
            "id": "icon_color",
            "label": "Icon color"
          }
        ]
      }, {
        "type": "divider",
        "name": "Column divider",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Content before and after this block are divided into two columns (on desktop only)."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "blocks": [
          {
            "type": "richtext",
            "settings": {
              "content": "<h6>Subheading</h6>"
            }
          }, {
            "type": "richtext",
            "settings": {
              "content": "<h1>Heading</h1>"
            }
          }, {
            "type": "richtext"
          }
        ]
      }
    ]
  }
{% endschema %}